@keyframes buildcolorgrade {
    0% {
        background-color: lightblue;
    }

    50% {
        background-color: darkcyan;
    }

    100% {
        background-color: lightblue;
    }
}

html,
body {
    height: 100%;
    color: white;
    background-color: black;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1.2;
}

body h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

i {
    margin: 0.2em;
}

.buildanimation {
    animation-name: buildcolorgrade;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

.content {
    width: 100%;
    height: 100%;
}

.bg-success {
    background-color: mediumseagreen;
}

.bg-fail {
    background-color: crimson;
}

.bg-skipped {
    background-color: darkgray;
}

.bg-running {
    background-color: darkorange;
}

.hidden {
    display: none !important;
}

.project {
    width: auto;
    height: 30%;
    display: inline-block;
    vertical-align: middle;
    border-color: darkgray;
    border-width: 0px;
    border-style: solid;
    border-radius: 14px;
    margin: 0.1em;
    padding: 0.4em;
}

.project h1 {
    font-size: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, .4);
    color: white;
}

.pipeline {
    padding: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-radius: 24px;
    margin: 0.2em;
}

.pipeline .label {
    display: inline-block;
}

.job-running {
    animation-name: buildcolorgrade;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    color: black;
}

.job-running a {
    color: black;
}

.job-success {
    border-color: darkgreen;
    background-color: mediumseagreen;
    color: black;
}

.job-success a {
    color: black;
}

.job-fail {
    border-color: darkred;
    background-color: crimson;
    color: white;
}

.job-fail a {
    color: white;
}

.job-skipped {
    border-color: black;
    background-color: darkgray;
    color: black;
}

.job-skipped a {
    color: black;
}

.job-manual {
    border-color: cornflowerblue;
    background-color: lightblue;
    color: black;
}

.job-manual a {
    color: black;
}

.job {
    width: auto;
    display: inline-block;
    height: 15px;
    border-width: 2px;
    border-style: solid;
    border-radius: 24px;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.4em;
    margin-right: 0.2em;
    font-size: 0.8em;
    font-weight: bold;
    font-family: sans-serif;
}

.time {
    display: inline-block;
    padding-right: 0.4em;
}